<!DOCTYPE html>
<html lang="pt-BR">
    <%- include('../partials/head');%>
<body class="container">
    <%- include('../partials/header');%>
<main class="bg-tertiary-color">
    <div class="row d-flex align-items-center" style="height: 500px;">
        <div class="col-12 col-lg-6">
            <h1 class="py-3">Index em back-end</h1>
            <p class="py-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima iusto enim fugiat cum atque ipsam excepturi alias, itaque ab, laudantium reprehenderit? Adipisci assumenda similique eaque molestiae qui esse aperiam vitae.</p>
        </div>
    </div>
</main>
    <%- include('../partials/footer');%>
    
</body>
</html>